$primary-font: 'Space Grotesk Variable', sans-serif;

html,
body,
div {
  font-family: $primary-font !important;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bg-gradient {
  background: radial-gradient(21.09% 21.09% at 50% 58.35%, #151f39 0%, #0e1424 100%);
}

.single-tools-feature {
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  border: 1px solid transparent;
  height: 100%;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(151, 150, 233, 0.2);
  }
}
